body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

#principal {
    width: 70%;
    max-width: 900px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2em;
}

#selecao {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    background: #e9ecef;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    color: #495057;
}

select:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

input[type="button"] {
    width: 96%;
    padding: 10px;
    font-size: 1.1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

#resultado {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 8px;
    background: #e9ecef;
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.1em;
}

#grafo {
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 8px;
    background: #e9ecef;
    max-width: 650px;
    margin: 0 auto;
    font-size: 1.1em;
}